body {
  font-family: 'Merienda One', cursive;
    background-color: aquamarine;
    font-size: larger;
    background: url('../assets/japanese-cherry6.gif') no-repeat center fixed;     
    background-size: cover;
  }
  
  /* Style the header */
  h1 {
    background-color: #8f4242;
    padding: 30px;
    text-align: center;
    font-size: 85px;
  }
  
  /* Container for flexboxes */
  main {
    display: -webkit-flex;
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Style the footer */
  .footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
  }